<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>counter</h1>
    <p>{{ request.session.number}} Times</p>
    <br>
    <form action='/destoy' method="POST">
    
        {% csrf_token %}
        <button type="submit">destroy</button>

    </form>
    <br><br>
    <form action='/addtow' method="POST">
    
        {% csrf_token %}
        <button type="submit">add tow</button>

    </form>
    <br><br>
    <form action='/addnum' method="POST">
    
        {% csrf_token %}
        <label>value</label>
        <input type="number" name="number1">
        <button type="submit">add num</button>

    </form>
    
</body>
</html>