<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h4>Welcome to the great Number Game!</h1>
    <p>I am thinking of a number between 1 and 100</p>
    <p>Take a guess</p>
    {%if request.session.bool   %}
    {%if request.session.num > request.session.rand   %}
    <div style="width:200px; height:200px; background-color:red ">Too high</div>
    {% endif %}
    {% if request.session.num < request.session.rand %}
    <div style="width:200px; height:200px; background-color:red ">Too Low</div>
    {% endif %}
    {% if request.session.num == request.session.rand %}
    <div style="width:200px; height:200px; background-color:green ">correct {{request.session.rand}}
        <form action="/playagin" method="post">
            {% csrf_token %}
            <button type="submit">playagin</button>
        </form>
    </div>
   
    {% endif %}
    {% endif %}
    
    {% if request.session.num != request.session.rand %}
    <form action="/submet" method="post">
        {% csrf_token %}
        <input type="number" name="number1">
        <button type="submit">submit</button>
    </form>
    {% endif %}
</body>
</html>