<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome</h1>
    <p>This is the dictionary: {{mydict.first}}</p>
    <p>This is the dictionary: {{mydict.second}}</p>
    <form method="POST" action="/login">
        {% csrf_token %}
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="passwd"><br>
        <input type="submit" value="login">
    </form>
</body>
</html>