<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>counter</h1>
    <p>the countrer is {{count}}</p>






<form action='/addtwo' >
<input type="submit" name="" style="background-color: orange;" value="Add tow to value">
</form>
<form action='/reset'>
<input type="submit" name="" value="reset">
</form>
</body>
</html>